<DOCTYPE! html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Justin Singleton</title>
      <meta name="description" content="A personal portfolio of Justin Singleton." />
      <meta name="keywords" content="portfolio, singleton, web, development, software, designer" />
      <meta name="robots" content="no follow" />
      <meta http-equiv="author" content="Justin Singleton" />
      <meta http-equiv="pragma" content="no-cache" />
      <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <header>
      <img src="../images/architecture-building-business-edited.jpg" class="header" />
    </header>
  </html>
